:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #fcf6f6;
  --second-brand-color: #ff7cb9;
  --third-brand-color: #3c6dc8;
  --fourth-brand-color: #ff3c00;
  --fifth-brand-color: #ffc300;


 


  --main-font:  'Poppins';
  --title-font:  'Poppins Bold';

  font-size: 62.5%;
}
